.about {
    @include section-padding-top;
    @include flex-column-center;
    overflow: hidden;

    @include breakpoint("md") {
        padding-bottom: 5px;
        flex-direction: row;
    }

    @include breakpoint("lg") {
        justify-content: flex-start;
        overflow: visible;
    }
}

.about__picture {
    width: 90%;
    max-width: 550px;
    min-height: 395px;
    background: url("../assets/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 0px 7px #1d2325, 0px 0px 0px 8px #fff;

    @include breakpoint("md") {
        margin-left: 30px;
        box-shadow: -10px 0px 0px 4px #1d2325, -10px 0px 0px 5px #fff;
    }
    @include breakpoint("lg") {
        box-shadow: -20px 0px 0px 8px #1d2325, -20px 0px 0px 9px #fff;
    }
    @include breakpoint("xl") {
        margin: 0;
        box-shadow: -30px 0px 0px 11px #1d2325, -30px 0px 0px 12px #fff;
    }
}

.about__content {
    @include flex-column-center;
    justify-content: space-around;
    padding: 60px 0 0 0;
    min-height: 395px;
    text-align: center;

    * {
        margin: 0;
    }

    @include breakpoint("xs") {
        max-width: 480px;
    }

    @include breakpoint("md") {
        align-items: flex-start;
        justify-content: center;
        margin-left: 50px;
        padding: 0;
        max-width: 500px;
        text-align: left;

        * {
            margin: 9px 0;
        }
    }

    @include breakpoint("lg") {
        max-width: 550px;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 230px;
    font-size: 2rem;

    & div {
        margin: 0;
    }

    & i {
        margin: 0;
        padding: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            border: 1px solid #05ffcd;
            color: #05ffcd;
        }
    }
}
