.about {
    @include section-padding-top;
    @include flex-column-center;
    overflow: hidden;

    @include breakpoint("md") {
        padding-bottom: 5px;
        flex-direction: row;
    }

    @include breakpoint("lg") {
        overflow: visible;
    }
}

.about__picture {
    width: 90%;
    max-width: 550px;
    min-height: 395px;
    background: url("../assets/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 0px 7px $dark-color, 0px 0px 0px 8px #fff;

    @include breakpoint("md") {
        margin-left: 30px;
        box-shadow: -10px 0px 0px 4px $dark-color, -10px 0px 0px 5px #fff;
    }

    @include breakpoint("lg") {
        box-shadow: -20px 0px 0px 8px $dark-color, -20px 0px 0px 9px #fff;
    }

    @include breakpoint("xl") {
        margin: 0;
        box-shadow: -30px 0px 0px 11px $dark-color, -30px 0px 0px 12px #fff;
    }
}

.about__content {
    @include flex-column-center;
    justify-content: space-around;
    padding-top: 60px;
    min-height: 395px;
    text-align: center;

    @include breakpoint("xs") {
        max-width: 550px;
    }

    @include breakpoint("md") {
        align-items: flex-start;
        justify-content: center;
        margin-left: 50px;
        padding: 0;
        text-align: left;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 230px;
    font-size: 2rem;

    & i {
        padding: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            border: 1px solid $accent-color;
            color: $accent-color;
        }
    }
}
