footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    background-color: #0f0f0f;
}

.footer__content {
    @include flex-column-center;
    width: 100%;

    @include breakpoint("xs") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__socials {
    margin: 25px auto;
}

.arrow-up {
    @include arrow-scroll;
}

.copyright {
    text-align: center;
    font-size: 1.5rem;
}
