header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;

    @include breakpointLandscape("xs") {
        height: 150vh;
    }
    @include breakpointLandscape("md") {
        height: 100vh;
    }
}

.header__slider {
    width: 100%;
    flex-grow: 1;
    text-align: center;
}

.splide,
.splide__slider,
.splide__track,
.splide__list,
.splide__splide,
.header__welcome {
    height: 100%;
}

.header__welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;

    @include breakpoint("md") {
        text-align: left;
        width: 60%;
    }
}

.splide__pagination {
    button {
        margin: 0 20px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #fff;
    }
}

.arrow-down {
    @include arrow-scroll;
    margin: 30px auto;
}
