.portfolio {
    @include section-padding-top;
    text-align: center;
}

.portfolio__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint("xs") {
        justify-content: center;
    }

    @include breakpoint("lg") {
        justify-content: space-between;
    }
}

.portfolio__project {
    @include boxes-flex;
    margin: 10px 0;
    padding: 40px 20px;
    width: 100%;
    max-width: 370px;
    min-height: 285px;
    border: 1px solid #31383d;
    cursor: pointer;

    @include breakpoint("xs") {
        margin: 10px;
    }

    @include breakpoint("lg") {
        margin: 10px 0;
    }

    &:hover {
        background-size: auto 120%;
    }

    &:hover .project__hover {
        opacity: 1;
    }
}

.portfolio__container .aos-init:nth-child(4),
.portfolio__container .aos-init:nth-child(5) {
    @include breakpoint("lg") {
        margin: 10px auto;
    }
}

.project__hover {
    opacity: 0;
    transition: 0.5s ease;
}

.law-office-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/projects-images/law-office-screenshot.jpg");
    @include portfolio-background;
}

.portfolio-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/projects-images/portfolio-screenshot.jpg");
    @include portfolio-background;
}

.todo-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/projects-images/todo-screenshot.jpg");
    @include portfolio-background;
}

.weather-app-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/projects-images/weather-app-screenshot.jpg");
    @include portfolio-background;
}

.lol-form-image {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../assets/projects-images/lol-form-screenshot.jpg");
    @include portfolio-background;
}
