.project__present {
    @include section-padding-top;
    text-align: center;
}

.screenshot {
    margin: 10px auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: 2px solid #31383d;
}
